<html>
    <body>
        <h1>todo list<h1>
            <table border="1">
                <tr>
                    <th>sn</th>
                    <th>name</th>
                    <th>description</th>
                    <th>status</th>
                <tr>
                {% for task in tasks %}
                    <tr>
                       <td>{{forloop.counter}}</td>
                       <td>{{task.name}}</td>
                       
                       <td>
                           {% if task.description is None%}
                              nothing to show
                           {% else%}
                               {{task.description}}
                           {% endif %}

                       </td>
                       <td>
                        
                            {% if task.status %}
                               completed
                            {% else %}
                                pending
                            {% endif %}
                       </td>
                    <tr>
                {% endfor %}
            </table>


    <body>
<html>