<html>
    <body>
        <h1>people<h1>
            <table border="1">
                <tr>
                    <th>sn</th>
                    <th>name</th>
                    <th>age</th>
                <tr>
                {% for person in people %}
                    <tr>
                       <td>{{forloop.counter}}</td>
                       <td>{{person.name}}</td>
                       <td>
                        
                            {% if person.age > 25 %}
                                ok
                            {% else %}
                                not ok
                            {% endif %}
                       </td>
                    <tr>
                {% endfor %}
            </table>


    <body>
<html>